* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 1 rem;
}
h1 {
    font-size: 3rem;
    text-align: center;
    font-style: italic;
    color: whitesmoke;
    background-color: grey;
    padding: 8px;

    
}
h2 {
    margin: 0.3rem;
    padding: 0.3rem;
    font-size: medium;
    font-style: italic;
    text-align: center;
    color: gray;
    background-color: whitesmoke;
}

 iframe {
    background-color: white;
    border: 1px solid black;
    width: 100vw; height: 50vh;
    position: fixed;
 }

 input {
    visibility: collapse;
 }

 button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
 }

 .btnleft {
    z-index: 1;
    position: absolute;
    margin: 0.5rem;
    padding: 0.3rem;
    
 }

 .btnright {
    z-index: 1;
    right: 0;
    position: absolute;
    right: 0;
    margin: 0.5rem;
    padding: 0.3rem;
 }

button:hover {
    background-color: whitesmoke;
    color: grey;
}

button:active {
    background-color: grey;
    color: white;
}

